html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: source-sans-pro, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    overflow-x: hidden;
    background-color: black;
  }

@media (max-width: 768px){
html,body {
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
    }
  }

  
