.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto; 
  z-index: 1; 
  position: relative;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
 
}

@media (max-width: 768px) { 
  .container {
    width: 100%; 
    

  }
}


.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  object-fit: cover;
  z-index: -1; 
}
