
.seccionAboutMe{
    background-color: rgb(255, 0, 170);
    scroll-margin-top: 200px;
    min-height: 100vh;
    }

.aboutMe{
    background-color: rgb(255, 0, 170);
    scroll-margin-top: 200px;
    min-height: 100vh;
}

.presentacion {
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        color: #fff;
        font-weight: 800
    }

.textPrentacion{
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    

}
