.seccionProyectos{
    display: flex;
    margin-top: 100px;
    scroll-margin-top: 200px;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
.titulo {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    
}
@media (max-width: 400px) {
    .titulo {  
        font-size: 30px;
    }
}
.textoSuperior{
    margin: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff; 
    padding: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 400px) {
    .textoSuperior {  
        font-size: 22px;
        padding: 0px;
        letter-spacing: 0px;
        
    }
}




.contenedorCards{
    padding: 10px;
    margin: 20px;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}