.seccionProyectos{
    margin-top: 100px;
    scroll-margin-top: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    

}

.textoSuperior{
    display: flex;
    justify-content: center; /* Centra el texto dentro de la sección */
    width: 100%;
    align-items: center;
    flex-direction: column;

}


.titulo {
    font-size: 50px;
    color: #fff;
    font-weight: 800;
    
}


.textoSuperior p   {margin: 20px;
font-size: 30px;
text-align: center;
letter-spacing: 3px;
text-align: center;
color: #fff; 
padding: 20px;
display: inline-block;
/* Fondo negro con transparencia */
background: rgba(0, 0, 0, 0.5);

/* Sombra más notoria */
    text-shadow: 
0px 0px 5px rgba(0, 0, 0, 0.9), 
0px 0px 15px rgba(0, 0, 0, 0.7), 
0px 0px 25px rgba(0, 0, 0, 0.5);


}



.contenedorCards{
    padding: 10px;
    margin: 20px;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}